<div class="card">
  <a href="/product?id=<%= product.id %>"
    ><img src="<%= product.img %>" alt="Denim Jeans" style="width: 100%" />
    <h3><%= product.Name %></h3>
    <p class="price"><%= product.Price %></p>
    <p><%= product.Discription %></p></a
  >

  <p><button>Buy Now</button></p>
  <p><button>Add to Cart</button></p>
</div>
